

{% extends "base.html" %}

{% block content %}
<h2>Edit Citation</h2>

<form method="POST">
  <div class="mb-3">
    <label for="person_id" class="form-label">Person</label>
    <select class="form-select" name="person_id" required>
      {% for person in people %}
      <option value="{{ person[0] }}" {% if person[0] == citation[1] %}selected{% endif %}>
        {{ person[1] }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="book_id" class="form-label">Book</label>
    <select class="form-select" name="book_id" required>
      {% for book in books %}
      <option value="{{ book[0] }}" {% if book[0] == citation[2] %}selected{% endif %}>
        {{ book[1] }}{% if book[8] %} (Complete){% endif %}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="page_number" class="form-label">Page Number</label>
    <input type="text" class="form-control" name="page_number" value="{{ citation[3] }}" required>
  </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="indirect_citation" name="indirect_citation">
      <label class="form-check-label" for="indirect_citation">
        Indirect citation
      </label>
    </div>

    <div class="mb-3">
        <label for="notes" class="form-label">Notes</label>
        <textarea name="notes" class="form-control" rows="2">{{ (citation[4] or '').strip() }}</textarea>
    </div>

  <button type="submit" class="btn btn-primary">Update Citation</button>
  <a href="{{ url_for('main.citations') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
